<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped progress bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" 
                        style="height: 10px;" 
                        [style.width]="getPorcentaje1"
                        role="progressbar"
                    >
                    </div>
                </div>

                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" 
                        style="height: 10px;" 
                        [style.width]="getPorcentaje2"
                        role="progressbar"
                    >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-counter (valorSalida)="progreso1 = $event" [progreso]="progreso1"></app-counter>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-counter (valorSalida)="progreso2 = $event" [progreso]="progreso2" buttonClass="btn btn-info"></app-counter>
            </div>
        </div>
    </div>
</div>