<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="buttonClass" type="button" (click)="changeValue(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="text" class="form-control" placeholder="Progreso" [(ngModel)]="progreso" (ngModelChange)="onChange($event)">
    <span class="input-group-btn">
        <button [ngClass]="buttonClass" type="button" (click)="changeValue(5)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>